 <div id="follow_local_form">
      <% if current_user.following_local?(@local) %>
          <%= render 'locals/unfollow_local' %>
      <% else %>
          <%= render 'locals/follow_local' %>
      <% end %>

 </div>