<li>

  <%= image_tag("locale.jpg")%>
  <div>
  <span class="content"><%= link_to local.name %></span>
  <span class="timestamp">
    Attivo da <%= time_ago_in_words(local.created_at) %>
  </span>
  </div>


</li>