<% provide :title, @local.name %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @local %>
        <%= @local.name %>
      </h1>
    </section>
  </aside>
 </div>