<% provide :title, 'Potresti conoscere:' %>
<span>
  <ul class="pager">
    <% @hints.each do |user| %>
        <li>
          <%= link_to user.name, user %>
        </li>
    <% end %>
  </ul>
</span>