<% provide :title, 'I miei eVenti' %>

<div id="contenuto">
  <h1>I miei eVenti</h1>

  <%= will_paginate @events %>

  <ul class="center">
    <%= render @events %>
  </ul>

  <%= will_paginate @events %>
</div>