<% provide :title, 'Locali seguiti' %>

<div id="contenuto">

<h1>Locali seguiti</h1>

<%= will_paginate @locals %>

<ul class="pager">
  <%= render @locals %>
</ul>

<%= will_paginate @locals %>
</div>