<% provide :title, 'Search results' %>
<div id="contenuto" >
<h1><%= page_entries_info @users %></h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>
</div>

<%= will_paginate %>