<%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="field span7">
        <%= f.text_area :content, placeholder: 'A cosa stai pensando?' %>
      </div>
      <div class="span2">
        <%= f.submit 'Pubblica', class: 'pulsante' %>
        <input type="file"/>
      </div>
    </div>
<% end %>