<h1>All events</h1>

<%= will_paginate @event %>

<ul class="events">
  <% @events.each do |event| %>
      <li>
        <%= link_to event.name, event %>
      </li>
  <% end %>
</ul>

<%= will_paginate @event%>