<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'About' %>

<div id="contenuto">
  <h1>About us</h1>
  <h2 class="center"><%= video_tag ("events.mp4"), :size => "700x350", :autoplay => true, :controls => true %></h2>
  <p class="center">e-Vents è un servizio di rete sociale che permette ai suoi utenti di essere
    sempre a conoscenza di locali da seguire ed eventi ai quali partecipare.
    Il social network contiene apposite sezioni che permettono di visualizzare
    i locali che l’utente decide di seguire e gli eventi previsti per le serate
    successive, divisi in tre diverse categorie: Spettacolo e musica, Food&Restaurant e Nightclubbing.
    Gli utenti possono inoltre creare un profilo personale, aggiungere stati, foto e
    video delle serate, includere altri utenti nella propria rete sociale tramite il
    meccanismo del following e scambiarsi messaggi tra loro.
  </p>
</div>