<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'About' %>

<div id="contenuto">
  <h1>About us</h1>
  <p>eVents è una piattaforma che consente di...</p>
</div>
