<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Contact' %>

<div id="contenuto" class="center">

  <h1>Contact us</h1>

  <h2>Website programmer</h2>
  <p>Elisabetta Gallione <a href="mailto:elisabetta.gallione@events.com?subject=eVents">elisabetta.gallione@events.com</a></p>

  <h2>Website designer</h2>
  <p>Andrea Marietta Odone <a href="mailto:andrea.mariettaodone@events.com?subject=eVents">andrea.mariettaodone@events.com</a></p>

  <h2>Producers</h2>
  <p>Luigi De Russis <a href="mailto:luigi.derussis@polito.it?subject=eVents">luigi.derussis@polito.it</a></p>
  <p>Laura Farinetti <a href="mailto:laura.farinetti@polito.it?subject=eVents">laura.farinetti@polito.it</a></p>
  <p>Gabriella Taddeo <a href="mailto:gabriella.taddeo@polito.it?subject=eVents">gabriella.taddeo@polito.it</a></p>

</div>